
<img
            src="https://i.pinimg.com/236x/d9/99/0c/d9990cf11ece651e7a2a3ad9c0f0c4d5.jpg"/>

<button ><a href="itms-services://?action=download-manifest&url=https://ios-appdistribution-sandy6755-1ab3ec8b3b1ae94c4ed02912b32cfd1da.gitlab.io/ielts.plist">
            INSTALL HERE 
            
        </a></button>

        <button>
            <a id="installAppLink" href="#">Install App</a>
        </button>



        <!--   <string>com.ielts.app.dev</string>
        <key>CFBundleShortVersionString</key>
        <string>3.1.2</string>
        <key>CFBundleVersion</key>
        <string>3.1.2</string>
        <key>SigningIdentity</key>
        <string>Apple Development: Vijeyavelan TK (MW69227GZL)</string>
        <key>Team</key>
        <string>ZW7QRKQRZA</string> -->

        
<script>

    var xmlstr =   `<plist version="1.0">
    <dict>
    <key>items</key>
    <array>
    <dict>
    <key>assets</key>
    <array>
    <dict>
    <key>kind</key>
    <string>software-package</string>
    <key>url</key>
    <string>https://image.ielts.dev.idp.com/ieltsapp-stage-16f423-development.ipa</string>
    </dict>
    </array>
    <key>metadata</key>
    <dict>
    <key>bundle-identifier</key>
    <string>com.ielts.app.dev</string>
    <key>bundle-version</key>
    <string>3.1.2</string>
    <key>kind</key>
    <string>software</string>
    <key>title</key>
    <string>IELTS</string>
    </dict>
    </dict>
    </array>
    </dict>
    </plist>`;
    let encodedXml = encodeURIComponent(xmlstr);
    console.log('encodedXml==>',encodedXml)
    document.addEventListener('DOMContentLoaded', function() {
    let itmsServicesLink = `itms-services://?action=download-manifest&url=data:application/xml;charset=utf-8,${xmlstr}`;
    
        // Set the href attribute of the link
        document.getElementById('installAppLink').href = itmsServicesLink;
    });
    </script>